.cart-main{
    display:flex;
    justify-content: center;
}
.cart-main-conteiner{
    display:flex;
    width: 80%;
    margin-top: 20px;

    
}
.cart-main-left{
    display:flex;
    height: 350px;
    background: white;
    box-shadow: 0 1px 8px -4px #000;
    border-radius: 5px;

    flex:2;
}
.cart-main-right{
    flex:1;
    height: 387px;
    background: white;
    box-shadow: 0 1px 8px -4px #000;
    border-radius: 5px;
    margin-left: 15px;
}
	
.cart-main-product{
    display:flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    font-family: 'Open Sans',sans-serif;

}

.cart-main-top{
    display:flex;
    width: 97%;
}
.cart-main-present{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.cart-main-middle{
    display:flex;
    width: 95%;
    border-top: solid 1px rgba(0, 0, 0, 0.712);
    border-bottom: solid 1px rgba(0, 0, 0, 0.712);
    height: 189px;
    align-items: center;


}
.cart-main-down{
    display:flex;
}
.cart-main-icon{
    flex:1;
    display:flex;
    align-items: center;
    
}
.cart-main-info{
    display:flex;
    flex:3;

}
.cart-main-info-left{
    display:flex;
    flex-direction: column;
    flex:2;
    
}
.cart-main-info-right{
    display:flex;
    flex:1;
    justify-content: center;
    align-items: flex-start;

}
.cart-main-price{
    flex:1;

}

.cart-main-top img{
    width: 400px;
}


.cart-main-icon img{
    width: 167px;
    height: autp;
}
.cart-main-info-left p{
    font-size:16px;
    color: #1471aa;
    cursor: pointer;
}
.cart-main-info-left p:hover{
    text-decoration: underline;
    color: #083e5f;

}
.cart-main-info-left span{
   font-size:14px;
   font-weight: 400;

}
.cart-main-info-left span:nth-child(4)::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f3c5";
    color:lightgray;
    font-size:17px;
    padding-right: 5px;
}
.cart-main-info-left span:nth-child(4){
   
    font-size:12px;
    
}
.cart-main-info-left span:last-child::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f015";
    color:lightgray;
    font-size:17px;
    padding-right: 5px;
    margin-left: -4px;

}
.cart-main-info-left span:last-child{

    font-size:12px;
    padding-right: 5px;

}
.cart-main-info-right ul{
    display:flex;
    align-items: flex-start;
    margin-top: 16px;
    border: solid 1px rgba(131, 131, 131, 0.486);
    border-radius: 5px;

}
.cart-main-info-right li{
padding: 2px 3px;
display: flex;
align-items: center;

   

}
.cart-main-info-right li:nth-child(2){
padding: 0 8px;
border-left: solid 1px rgba(131, 131, 131, 0.486);
border-right: solid 1px rgba(131, 131, 131, 0.486);
color:rgba(0, 0, 0, 0.493);
font-size:12px;
padding: 5px 8px;


}
.cart-main-info-right li i{
font-size:12px;
color:orangered;
padding: 4px 6px;

cursor: pointer;

}

.cart-main-price li{
    display: flex;
    flex-direction: column;
    padding-bottom: 1px;
    

}
.cart-main-price ul{
    margin-top: 5px;
    

}

.cart-main-price li:nth-child(1){
    font-size: 33px;
    font-weight: bold;
    color: #f15a22;
    
}
.cart-main-price li:nth-child(2){
    color: #aaa;
    font-size: 13px;
    text-transform: lowercase;
    text-decoration: line-through;
}
.cart-main-price li:nth-child(3){
    color: #24a285;
    font-size: 13px;
    text-decoration: none;
 

}
/*right*/
.cart-sidebar{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart-sidebar-top{
    display:flex;
    width: 95%;
    padding-bottom: 8px;
    border-bottom:solid 1px black;
}
.cart-sidebar-middle{
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
    flex: 1;
    width: 90%;
    align-items: center;
}
.cart-sidebar-location{
    display:flex;
    flex-direction: column;
}
.cart-sidebar-left{
    flex:1;

}
.cart-sidebar-left p{
    font-size: 21px;
    color: #151616;
    letter-spacing: -1px;
    font-weight: bold;


}
.cart-sidebar-right{
    flex:1;
    display:flex;
    flex-direction: column;
}
.cart-sidebar-right p {
    font-weight: 800;
    font-size: 38px;
    color: #f15a22;
    padding: 0;
    margin: 0;
}
.cart-sidebar-right span{
    color: #000;
    font-size: 80%;
}
.cart-sidebar-location::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f3c5";
    position: absolute;
    left: 22px;
    top: 7px;
    font-size: 41px;
    color:lightgrey;
}
.cart-sidebar-location span:nth-child(1){
    font-size: 17px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #181818;

}

.cart-sidebar-location span:nth-child(2){
    color: #1471aa;
    font-weight: bold;
    cursor: pointer;

}
.cart-sidebar-location span:nth-child(2)::after{
    font-weight: 900;
    content: "\f303";
    font-family: "Font Awesome 5 Free";
    color:orangered;
    font: size 10px;
    padding: 10px;



}
.cart-sidebar-location span:nth-child(3){
    font-family: 'Comfortaa';
    color: #49ac94;

}
.cart-sidebar-button{
    background: #f15a22;
    color: #fff;
    padding: 10px;
    width: 90%;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Comfortaa';
    font-weight: bold;
    box-shadow: 1px 3px 6px #ccc;
    text-align: center;
    margin-top: 10px;
}
.cart-sidebar-down{
    display:Flex;
    flex-direction: column;
    position: relative;
}
.cart-sidebar-delivery{
    display:Flex;
    flex-direction: column;
    align-items: center;

}
.cart-sidebar-delivery p{
    font-size: 17px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #181818;
    text-align: center;
}
.cart-sidebar-delivery p::before{
    font-weight: 900;
    content: "\f015";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-size: 41px;
    color:lightgrey;
    left: -10px;
    top: 7px;
}
.cart-sidebar-delivery span:nth-child(2){
    font-weight: bold;
    color: #181818;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    width: 70%;
}

.cart-sidebar-delivery span:last-child{
    color: #181818;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    width: 70%;

}
